body{
    background-color: green;
    margin: 0;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%; }



.main-header {
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid #CCC;
  position:fixed;
  z-index: 20;
  background-color: white;
}

.l-container{
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    /* flex-wrap: wrap;  */

}

.main-header__block{
    justify-content: space-between;
    align-items: center;
    height: 100%; 
}

.main-logo {
    height: 2rem;
}
@media screen and (min-width:960px){
.main-logo {
    display:none;
    }    
}

.main-logo1{
    display:none
        
}
@media screen and (min-width:960px)
{
    .main-logo1{
        display:block;
        height: 1.5rem;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.main-nav{
    position:fixed;
    height: calc(100vh-4rem);
    width: 70vw;
    background-color: white;
    top:4rem;
    /* right: 0; */
    right: -70vw;
    transition: right .4s;
    padding-top: 1rem;
    z-index:20;
    
}
@media screen and (min-width:960px)
{
    .main-nav{
     position:static;
     background-color: white;
     border:solid 1px black;
     padding-top: 0;
     width: 100%;
     height: calc(100vh-4rem);
     display:flex;
     
    }
}


.logo-zone{
    display:none;
}
@media screen and (min-width:960px)
{
    .logo-zone{
        margin-left: 1rem;
        display:flex;
        width: 20%;
        background-color: yellow;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.link_logo{
    display:none;    
}
@media screen and (min-width: 960px)
{
    .link_logo{
        display:block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        
    }
}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

}
@media screen and (min-width: 960px)
{
    .main-menu{
        display:flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        background-color: pink
    }
}

.main-menu__item{
    padding: 1rem;
}



.main-menu-toggle{
    margin-top: auto;
    margin-bottom: auto;
    width: 2.2rem;
    height: 1.6rem;
    background: linear-gradient(#141618 20%, transparent 20%, transparent 40%, #141618 40%, #141618 60%, transparent 60%, transparent 80%, #141618 80%);
    cursor: pointer; 
}
@media screen and (min-width: 960px) 
{
    .main-menu-toggle {
      display: none; 
    }     
}


.user-zone{
    display:none
}
@media screen and (min-width:960px)
{
    .user-zone {
        display:flex;
        width: 20%;
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
        margin-right: 1rem;
        background-color: yellow;
    }
}

.user-logo{
    height: 2rem;
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}